.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.form-layout {
  width: 100%;
  display: block;
  text-align: left;
}

/* https://coolors.co/edae49-d1495b-00798c-30638e-003d5b */
.btn-outline-secondary {
  background-color: #edae49;
  color: #fff;
  font-weight: bold;
  border: 1px solid #edae49;
  margin-top: 12px;
  width: 100%;
}

.help-input {
  display: block;
  font-size: 16px;
  text-align: left;
  margin-bottom: 8px;
}

.input-group-append {
  margin: 0 auto;
  margin-top: 24px;
}

.answer-wrong {
  border: 1px solid #d1495b;
  color: #d1495b;
}

.answer p {
  padding: 14px;
  margin: 0px;
}

.answer-group {
  margin: 0 auto;
  width: 100%;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
