/* --------------------------------------------------------------   FONTS   ------------------------ */

/* --------------------------------------------------------------   GLOBALS   ------------------------ */
body {
	font-family: "proxima-nova", sans-serif;
	color: #3c3c3c;
	font-weight: 300;
}
h1 {
	font-family: "brandon-grotesque", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 2.2em;
	text-align: center;
}
h2 {
	font-family: "brandon-grotesque", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.6em;  /* color: #b7b7b6;
		  */
	color: #404d5b;
	text-align: center;
}
h3 {
	font-size: 1.2em;
	font-weight: 300;
	color: #b7b7b6;
	text-align: center;
	font-family: "brandon-grotesque", sans-serif;
}
h4 {
	font-family: "brandon-grotesque", sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 1em;
	color: #b7b7b6;
	text-align: center;
}
h5 {
	font-family: "brandon-grotesque", sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 1.0em;
	color: #b7b7b6;
	text-align: center;
}
p {
	line-height: 170%;
	font-size: 1.2em;
}
a, a:visited {

	/* color: #b7b7b6;*/
	color: #3c3c3c;
	text-decoration: none;
	border-bottom: 1px dashed #acacac;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;
}
a:hover {
	color: #b7b7b6;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;
}
img {
	max-width: 100%;
	height: auto;
}
header {
	margin-top: 5%;
}
footer {
	margin-bottom: 1%;
	padding-bottom: 1%;
}

/* --------------------------------------------------------------   CLASSES/IDS   ------------------------ */
.select_conversation {
	margin: 5% 13%;
	width: 75%;
}

/* --------------------------------------------------------------   MEDIA QUERIES!   ------------------------ */

/* ------------------------ MEDIA QUERIES FOR SMARTPHONE ------------------------ */
@media screen and (max-width:320px) {
}

/* ------------------------ MEDIA QUERIES FOR SMARTPHONE / LANDSCAPE ------------------------ */

/* media queries for smartphone landscape max 480px width */
@media screen and (max-width:480px) and (min-width:321px) {
}

/* media queries for smartphone landscape max 568px width (iphone 5 landscape) */
@media screen and (max-width:568px) and (min-width:481px) {
}

/* ------------------------ MEDIA QUERIES FOR SMALL TABLETS ------------------------ */
@media screen and (max-width:600px) and (min-width:569px) {
}

/* ------------------------ MEDIA QUERIES FOR SMALL TABLETS / LANDSCAPE and IPADS / PORTRAIT ------------------------ */
@media screen and (max-width:800px) and (min-width:601px) {
}

/* ------------------------ MEDIA QUERIES FOR IPAD / LANDSCAPE ------------------------ */
@media screen and (max-width:1024px) and (min-width:801) {

	/* it is working for screen 1280 width */
}
@media screen and (max-width:1280px) and (min-width:1025) {
}
@media screen and (max-width:1920px) and (min-width:1281) {
}