*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
    font-family: 'geniusthin';
    src: url('fonts/Genius-100-Thin-webfont.eot');
    src: url('fonts/Genius-100-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Genius-100-Thin-webfont.woff') format('woff'),
         url('fonts/Genius-100-Thin-webfont.ttf') format('truetype'),
         url('fonts/Genius-100-Thin-webfont.svg#geniusthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

.container {
  margin: 0 auto;
  
  width: 100%;
}

.column {
  float: left;
  margin-left: 5%;
}
 
.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}
  
.column.two-thirds {
  width: 65%;
}
  
.column.half {
  width: 47.5%;
}
 
.column.one-third {
  width: 30%;
}
 
.column.one-fourth {
  width: 21.25%;
}

.row {
  overflow: hidden;
}

.menu{
  height: 100px;
}

header{
  width: 70%;
  margin-left: 10%;
  height: 500px;
}

.title-nikolas{
  background-color: #f6f6f6;
  font-family: 'geniusthin';
  color: #313131;
  font-size: 6em;
  line-height: 100%;
  letter-spacing: 0.2em;
  text-align: center;
}

.alignment-title{
  float: left;
  margin-top: 17%;
  margin-left: 19%;
}


/*------------------------ MEDIA QUERIES FOR SMARTPHONE ------------------------*/
@media screen and (max-width: 480px){

  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth {
   
    width: 100%;
  }

  header{
  width: 90%;
  height: 175px;
  margin: 0;
}

  .title-nikolas{
    background-color: #f6f6f6;
    font-family: 'geniusthin';
    color: #313131;
    font-size: 2.5em;
    line-height: 100%;
    letter-spacing: 0.13em;
    text-align: center;
  }

  .alignment-title{
    float: left;
    margin-top: 15%;
    margin-left: 13%;
  }

  .menu{
    height: 50px;
  }

}

/*------------------------ MEDIA QUERIES FOR SMARTPHONE LANDSCAPE ------------------------*/

@media screen and (max-width: 639px) and (min-width: 480) {
  header{
    width: 90%;
    height: 280px;
    margin: 0;
  }

  .title-nikolas{
    background-color: #f6f6f6;
    font-family: 'geniusthin';
    color: #313131;
    font-size: 4em;
    line-height: 100%;
    letter-spacing: 0.13em;
    text-align: center;
  }

  .alignment-title{
    float: left;
    margin-top: 10%;
    margin-left: 13%;
  }

  .menu{
    height: 50px;
  }
}

/*------------------------ MEDIA QUERIES FOR SMALL TABLET ------------------------*/

@media screen and (max-width: 640px) and (min-width: 568px) {
  header{
  width: 90%;
  height: 280px;
  margin: 0;
}

  .title-nikolas{
    background-color: #f6f6f6;
    font-family: 'geniusthin';
    color: #313131;
    font-size: 4em;
    line-height: 100%;
    letter-spacing: 0.13em;
    text-align: center;
  }

  .alignment-title{
    float: left;
    margin-top: 15%;
    margin-left: 21%;
  }
}

/*------------------------ MEDIA QUERIES FOR SMALL TABLET LANDSCAPE ------------------------*/

@media screen and (max-width: 800px) and (min-width: 769px) {

  header{
    width: 70%;
    height: 280px;
    margin-left: 10.5%;
  }

  .title-nikolas{
    background-color: #f6f6f6;
    font-family: 'geniusthin';
    color: #313131;
    font-size: 4em;
    line-height: 100%;
    letter-spacing: 0.13em;
    text-align: center;
  }

  .alignment-title{
    float: left;
    margin-top: 14%;
    margin-left: 22%;
  }
}


/*------------------------ MEDIA QUERIES FOR TABLET ------------------------*/

@media screen and (max-width: 768px) and (min-width: 641px) {
	.column.full {
    width: 70%;
    border: 1px #000;
    padding: 4px;
    margin-left: 16%;
  }

  header{
    width: 100%;
    height: 350px;
    margin: 0;
  }

.title-nikolas{
    background-color: #f6f6f6;
    font-family: 'geniusthin';
    color: #313131;
    font-size: 4em;
    line-height: 100%;
    letter-spacing: 0.13em;
    text-align: center;
  }

  .alignment-title{
    float: left;
    margin-top: 21%;
    margin-left: 20%;
  }

  
}















/*------------------------ MENU SLIDE ------------------------*/
/* General styles for all menus */
.cbp-spmenu {
  background: #47a3da;
  position: fixed;
}

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
  top: -150px;
}

.cbp-spmenu-bottom {
  bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries ----- MENU -----*/

@media screen and (max-width: 55.1875em){

  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }

}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}